body {
    width:960px;
    background-image:url("../../images/qbkls/qbkls.png")
}
#head {
    position: relative;
    padding:50px;
    background-color:white;
    border-bottom-style:solid;
    border-width:2px;
    border-color:#cccccc;
    width:130%;
    


}
h2 {
    background-color:#0bd3d3;
    color:white;
    position: relative;
    bottom:102px;
    left:150px;
    padding:40px;
    width:70px;
    height:20px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;

}
ul, .ldash, li {
    position: relative;
    display: inline;
    font-size:20px;
    bottom:80px;
    left:428px;
    font-family:'Times New Roman', Times, serif;

}
ul, .ldash, li+li:before {
    padding: 8px;
    color:#777777;;
    content: "/\00a0";
}
.Mid {
    display:block;
    width:100%;
    height:450px;
    background-color:white;
    margin-top:-80px;
    margin-left:150px;
    margin-bottom:200px;
    color:#0bd3d3;
    font-size:30px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
}
#KD {
    height:200px;
    height:200px;
    float:left;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
    margin-top:80px;
    border: 2px solid #777777;
}

#para {
    margin-top:80px;
    font-size:16px;
    color:#777777;
    padding:5px;
    font-family: sans-serif;
}

header {
    margin-left: 35px;
    padding-top: 30px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    padding-bottom: 50px;
    font-size: 30px;
}

footer {
    text-align:center;
    color:white;
    padding:20px;
    background-color:#666666;
    border-top-style:solid;
    border-width:8px;
    border-color:#0bd3d3;
    width:136%;
}

.contact {
    padding-left:30px;
    padding-top:20px;
    font-size: 16px;
    color:#777777;
}

@media only screen and (max-width: 980px) {
    body, p, .Mid, #KD {
        position:static;
        width:80%;
        height:auto;
        background-color:#0bd3d3;
    }
}
@media only screen and (max-width: 768px) {
    body, p, .Mid, #KD{
        position:static;
        width:60%;
        height:auto;
        background-color: #f890e7;
    
    }
}
@media only screen and (max-width: 640px) {
    body, p, .Mid, #KD {
        position:static;
        width:60%;
        height:auto;
        background-color: #d0d0d0;
    }
}
